/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1700px) {
	.billbord + .advantages::before {
		right: -600px;
	}

}
@media only screen and (max-width : 1375px) {
	.col-lg-3:nth-child(1) .billbord-bottom__item::after {
		right: -2px;
	}
	.billbord-bottom__item::after {
		right: -16px;
	}
	.item-service {
		padding: 25px 25px;
		padding-bottom: 195px;
	}
	.item-service__buttons {
		padding-top: 25px;
	}
	.row_services > div:nth-child(1) .item-service, .row_services > div:nth-child(2) .item-service {
		padding-bottom: 22px;
	} 
	.item-service__name {
		font-size: 24px;
	}
	.section-form .title-section {
		font-size: 30px;
	}
	.descr-big {
		font-size: 22px;
	}
	#map-portfolio {
		margin-left: -15px;
	} 
	.item-portfolio__content {
		padding-left: 30px;
	}
	.item-review__content {
		padding: 20px;
	}
	.item-step p {
		padding: 0 23px;
	}
	.image-advantage img {
		max-width: 549px;
	}
	.image-advantage {
		margin-top: -38px;
		margin-left: -53px;
	}
	.consultation__left {
		padding-left: 105px;
	}
	.consultation .title-section {
		font-size: 32px;
	}
	.item-project__content {
		padding-left: 25px;
		padding-right: 25px;
	}
	.item-project__buttons {
		padding-right: 0;
	}
	.item-project__buttons .btn-main_dowload {
		min-width: 170px;
	}
	.our-projects {
		padding-bottom: 40px;
	}
	.project-wrap .portfolio-for__item {
		height: 630px;
	}
	.item-news__title {
		font-size: 22px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	.item-news__content {
		padding-left: 30px;
		padding-right: 30px;
	}
	.billbord-bottom__wrap .billbord-bottom__item:nth-child(3), .billbord-bottom__wrap .billbord-bottom__item:nth-child(4), .billbord-bottom__wrap .billbord-bottom__item:nth-child(1) {
		flex: 1;
	}
	.billbord-bottom__wrap .billbord-bottom__item {
		padding-right: 9px;
		padding-left: 17px;
		font-size: 13px;
	}
	.billbord-bottom__icon {
		margin-right: 9px;
	}
	.billbord-bottom__wrap  .billbord-bottom__item::after {
		right: 0;
	}
	.slider-photos {
		padding-left: 90px;
		padding-right: 90px;
	}
	.slider-photos .slick-prev {
		left: 15px;
	}
	.slider-photos .slick-next {
		right: 15px;
	}
	.item-document {
		height: 240px;
	}
	.callback-section .list-social img {
    width: 39px;
    max-width: 39px;
}
.item-rent .slider-photos {
    padding-left: 86px;
    padding-right: 62px;
}
.item-rent:nth-child(even) .slider-photos .slick-next {
    right: 20px;
}
.item-rent:nth-child(even) .slider-photos {
    padding-right: 86px;
    padding-left: 62px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.contacts-links {
		margin-left: 10px;
	}
	.btn_nav {
		margin-left: 15px;
	}
	.logo-descr {
		max-width: 228px;
	}
	.billbord {
		padding-top: 60px;
		background-position: 30% 50%;
		min-height: 607px;
	}
	.billbord-bottom__item strong {
		font-size: 60px;
		margin-right: 7px;
		line-height: 67px;
	}
	.billbord-bottom .btn-video {
		margin-left: 18px;
	}
	.col-lg-3:nth-child(3) .billbord-bottom__item {
		margin-left: -1px;
	}
	.billbord-bottom {
		padding: 30px 0;
	}
	.billbord ul li::before {
		left: 0;
	}
	.billbord ul li {
		padding-left: 22px;
	}
	.title-billbord {
		font-size: 28px;
	}
	.item-service {
		padding: 15px 15px;
		padding-bottom: 195px;
	}
	.item-service .btn-main {
		height: 52px;
		padding: 0 21px;
		font-size: 13px;
	}
	.item-service__buttons .link-simple {
		margin-left: 10px;
		font-size: 14px;
	}
	.item-service__name {
		font-size: 18px;
	}
	.benefits {
		padding-top: 25px;
		padding-bottom: 35px;
		background-position: right bottom;
	}
	.item-benefit {
		margin-bottom: 40px;
	}
	.item-settlement__content {
		padding: 20px 20px;
		font-size: 14px;
		line-height: 19px;
	}
	.item-settlement__image {
		height: 360px;
	}
	.portfolio-nav__item {
		height: 69px;
	}
	.portfolio-nav {
		margin-top: -69px;
	}
	.feature-portfolio__value {
		font-size: 63px;
		line-height: 60px;
	}
	.feature-portfolio {
		margin-top: 15px;
	}
	.item-portfolio__content {
		padding: 20px;
		padding-bottom: 35px;
	}
	.portfolio-for__item {
		height: 400px;
	}
	.item-review {
		padding: 15px;
	}
	.item-review__content {
		padding: 10px;
	}
	.item-review__name {
		font-size: 16px;
	}
	.item-review iframe {
		height: 210px;
		margin-bottom: 11px;
	}
	.row_steps > div {
		padding: 0 5px;
		margin-bottom: 50px;
	}
	.row_steps {
		margin: 0 -5px;
	}
	.item-advantage__title {
		font-size: 22px;
		line-height: 26px;
	}
	.item-advantage__icon {
		margin-right: 10px;
	}
	.item-advantage {
		margin-bottom: 39px;
		font-size: 14px;
		line-height: 21px;
	}
	.image-advantage img {
		max-width: 458px;
	}
	.image-advantage {
		margin-top: 25px;
	}
	.block-form {
		padding: 26px 20px;
		padding-bottom: 35px;
	}
	.item-question__head {
		padding: 16px 0;
		font-size: 18px;
		line-height: 25px;
	}
	.consultation__left {
		padding-left: 0;
	}
	.consultation .title-section {
		font-size: 30px;
	}
	.consultation__right {
		padding-left: 0;
	}
	.contacts-block {
		padding: 20px;
	}
	.footer__right {
		padding-left: 0;
	}
	.billbord + .advantages::before {
		right: -800px;
	}
	.item-project__image {
		height: 255px;
	}
	.item-project__content {
		padding: 25px 20px;
		margin-right: 20px;
	}
	.item-project__buttons .link-simple {
		margin-top: 15px;
	}
	.project-wrap .portfolio-for__item {
		height: 520px;
	}
	.project-wrap .portfolio-nav__item {
		height: 105px;
	}
	.project-wrap .portfolio-nav {
		margin-top: -105px;
	}
	.project-wrap  .feature-portfolio__title {
		font-size: 13px;
	}
	.item-news__content {
		padding-left: 20px;
		padding-right: 15px;
		font-size: 14px;
		margin-right: 20px;
	}
	.item-news__title {
		font-size: 20px;
		line-height: 27px;
		margin-bottom: 17px;
	}
	.sidebar-news {
		padding: 40px 15px;
	}
	.billbord_house .billbord-bottom {
		padding: 30px 0;
	}
	.benefits_house {
		background-position: center;
	}
	.slider-photos__item {
    height: 350px;
}
.slider-documents {
	padding-bottom: 100px;
}
.price-main {
    font-size: 33px;
    line-height: 44px;
    }
    .content-rent {
    	padding-left: 25px;
    	padding-right: 15px;
    }
    .title-middle {
    font-size: 23px;
}
.benefits_rent {
	    background-position: 62% 50%;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__wrap .contacts-item {
		display: none;
	}
	.billbord-bottom {
		display: none;
	}
	.billbord {
		padding-bottom: 100px;
		background-position: 0 50%;
		min-height: initial;
	}
	.billbord ul {
		max-width: 400px;
	}
	.title-billbord {
		font-size: 25px;
		max-width: 665px;
		line-height: 34px;
	}
	.row_services > div:nth-child(2) .item-service {
		padding-bottom: 195px;
		background-size: cover;
	}
	.benefits {
		padding-top: 0;
	}
	.item-settlement__content {
		margin-right: 0;
	}
	.col-lg-9 + div .item-settlement__content {
		margin-left: 0;
	}
	.item-settlement .col-lg-3 {
		order: -2;
	}
	.settlements {
		padding-bottom: 20px;
	}
	.descr-form {
		padding-top: 17px;
	}
	.row_form .item-form {
		margin-bottom: 10px;
	}
	.descr-big {
		font-size: 19px;
	}
	.portfolio {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.item-portfolio__content {
		margin: 0;
	}
	.item-portfolio {
		padding-left: 40px;
	}
	.slider-portfolio > .slick-list {
		margin-left: -40px;
	}
	.wrap-sliders {
		margin-right: 0;
	}
	#map-portfolio {
		margin: 0;
		margin-top: 25px;
	}
	.get-present .title-section {
		max-width: 100%;
	}
	.get-present {
		padding-top: 45px;
		padding-bottom: 50px;
	}
	.advantages {
		padding-top: 45px;
	}
	.descr-section {
		padding-bottom: 20px;
	}
	.image-advantage {
		display: none;
	}
	.row_advantages > div:nth-child(2) {
		order: 2;
	}
	.faq {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.faq .title-section {
		padding-bottom: 25px;
		padding-top: 25px;
	}
	.block-form {
		padding-left: 35px;
		padding-right: 35px;
	}
	.contacts-block {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		margin-bottom: 25px;
	}
	.contacts {
		padding-top: 30px;
	}
	#map {
		height: 350px;
	}
	.footer__nav {
		font-size: 14px;
		line-height: 20px;
	}
	.footer__nav li {
		width: 37%;
	}
	.footer__nav li:nth-child(3n) {
		width: 23%;
	}
	.footer__line {
		flex-wrap: wrap;
	}
	.copy {
		position: relative;
		top: 15px;
	}
	.footer__title {
		font-size: 21px;
	}
	.footer__right {
		padding-left: 15px;
	}
	.checkbox {
		margin-top: 5px;
	}
	.portfolio .descr-section {
		max-width: 100%;
	}
	.portfolio .title-section br {
		display: none;
	}
	.item-project__content {
		padding: 35px 35px;
		margin-right: 40px;
	}
	.item-project__image {
		height: 310px;
	}
	.row_projects::before {
		display: none;
	}
	.row_projects {
		margin-bottom: 0;
		margin-top: 0;
	}
	.project-wrap .feature-portfolio {
		margin-top: 30px;
	}
	.title-section_main {
		padding-bottom: 30px;
	}
	.breadcumbs {
		font-size: 14px;
		padding-top: 20px;
	}
	.breadcumbs span {
		margin: 0 7px;
	}
	.item-news__content {
		padding-left: 40px;
		padding-right: 40px;
		margin-right: 35px;
		min-height: initial;
	}
	.item-news__image {
		margin-bottom: -100px;
	}
	.item-news__bottom {
		padding-top: 25px;
	}
	.row_news > div {
		margin-bottom: 45px;
	}
	.row_news::before {
		display: none;
	}
	.row_article h2 {
		font-size: 23px;
	}
	.sidebar-news {
		padding: 30px 40px;
	}
	.benefits_house {
		background-image: none;
	}
	.interior {
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.unit .slider-photos {
		margin-top: 25px;
	}
	.item-rent .content-rent {
		margin-top: 0;
	}
	.content-rent {
		float: none;
		margin: 0 auto;
		z-index: 4;
		position: relative;
	}
	.item-rent::after {
		right: 0;
	}
	.item-rent {
		padding-bottom: 40px;
		margin-bottom: 30px;
	}
	.item-rent:nth-child(even) .col-lg-5 {
		order: 2;
	}
	.item-rent:nth-child(even) .slider-photos,
	.item-rent .slider-photos {
		padding-left: 86px;
		padding-right: 86px;
	}
	.item-rent:nth-child(even) .slider-photos .slick-prev {
		left: 15px;
	}
	.item-rent:nth-child(even) .slider-photos .slick-next,
	.item-rent .slider-photos .slick-next {
		right: 15px;
	}
	.rent {
		padding: 50px 0;
	}
	.benefits_rent .title-section {
		padding-bottom: 30px;
	}
	.benefits_rent {
		    background-position: right bottom;
	}
	.unit_rent {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.item-rent:nth-child(even)::after {
		left: 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header__right .list-social,
	.header__right .contacts-links {
		display: none;
	}
	.billbord {
		padding-top: 35px;
		padding-bottom: 50px;
		background-size: 1800px auto;
		background-position: left top;
	}
	.billbord__buttons .btn-main {
		font-size: 12px;
		line-height: 17px;
	}
	.billbord__buttons {
		padding-top: 20px;
	}
	.billbord ul li {
		margin-bottom: 15px;
	}
	.title-billbord {
		font-size: 22px;
		max-width: 665px;
		line-height: 33px;
	}
	.title-section {
		font-size: 25px;
		line-height: 34px;
	}
	.title-section_page {
		padding-top: 35px;
	}
	.row_services > div:nth-child(1) .item-service {
		background-position: left;
		padding-bottom: 100px;
	}
	.row_services > div:nth-child(2) .item-service {
		padding-bottom: 100px;
	}
	.item-benefit {
		margin-bottom: 25px;
	}
	.settlements {
		padding-top: 0;
	}
	.item-settlement {
		margin-bottom: 25px;
		padding-bottom: 30px;
	}
	.item-settlement__image {
		height: 280px;
	}
	.descr-big {
		font-size: 17px;
		line-height: 24px;
	}
	.wrap-form {
		padding-right: 0;
	}
	.item-portfolio__title {
		font-size: 17px;
	}
	.slider-portfolio .slick-dots {
		bottom: 25px;
	}
	.item-portfolio {
		padding-bottom: 60px;
	}
	.slider-reviews {
		padding-bottom: 45px;
	}
	.steps {
		padding-top: 45px;
	}
	.row_steps {
		margin-top: 25px;
	}
	.item-step__number {
		margin-bottom: 25px;
	}
	.item-step p {
		margin-bottom: 25px;
	}
	.title-form {
		font-size: 20px;
	}
	.get-present .title-section {
		padding-bottom: 20px;
	}
	.item-advantage {
		max-width: 100%;
		margin-bottom: 25px;
	}
	.questions {
		padding: 20px;
	}
	.consultation .title-section {
		font-size: 25px;
	}
	.consultation {
		padding-top: 32px;
		padding-bottom: 50px;
		background-position: right;
	}
	.footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer__line {
		margin-top: 20px;
	}
	.item-map {
		width: 100%;
		padding: 15px;
		min-height: 180px;
		padding-left: 168px;
		font-size: 14px;
	}
	.item-map p {
		margin-bottom: 5px;
	}
	.item-map__title {
		font-size: 15px;
		margin-bottom: 8px;
		line-height: 21px;
	}
	.benefits .title-section {
		padding-top: 20px;
	}
	#map-portfolio .ymaps-2-1-79-balloon {
		left: 0 !important;
	}
	.item-map__image {
		width: 155px;
		height: 160px;
		top: 10px;
		left: 0px;
	}
	.reviews {
		padding-top: 40px;
	}
	.phone-mob {
		font-size: 22px;
		color: #36353D;
		display: inline-block;
	}
	.btn_nav {
		margin-left: 25px;
	}
	.menu-dropdown {
		top: 100%;
		left: 0;
		right: 0;
		height: 100vh;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 120px;
		overflow: auto;
		max-width: initial;
	}
	.menu-dropdown ul {
		font-size: 15px;
	}
	.menu-dropdown ul li {
		margin-bottom: 15px;
	}
	.header__wrap {
		position: static;
	}
	.menu-dropdown__bottom {
		display: block;
	}
	.menu-dropdown__bottom p {
		margin-bottom: 10px;
	}
	.menu-dropdown .phone-main {
		margin-bottom: 10px;
		color: #fff;
	}
	.menu-dropdown .link-simple {
		color: #fff;
		border-color: #fff;
	}
	.contacts-links {
		margin-left: 0;
		margin-top: 15px;
		align-items: flex-start;
	}
	.menu-dropdown__bottom a {
		color: #fff;
	}
	.menu-dropdown .list-social {
		margin-top: 10px;
	}
	.billbord + .advantages::before {
		display: none;
	}
	.our-projects__head {
		display: block;
	}
	.our-projects__head .btn-main {
		padding: 0 26px;
		margin-top: 20px;
	}
	.title-section {
		padding-bottom: 20px;
	}
	.project-wrap .portfolio-for__item {
		height: 280px;
	}
	.project-wrap .portfolio-nav__item {
		height: 65px;
	}
	.project-wrap .portfolio-nav {
		margin-top: -65px;
	}
	.project-wrap .item-portfolio__head {
		margin-bottom: 20px;
	}
	.project-wrap .feature-portfolio {
		margin-top: 15px;
	}
	.project-wrap {
		padding-bottom: 40px;
	}
	.section-form_project .descr-form {
		margin-right: 0;
	}
	.section-form + .footer {
		margin-top: 50px;
	}
	.item-news__image {
		height: 355px;
	}
	.section-inner_news {
		padding-bottom: 50px;
	}
	.article-date {
		padding-top: 0;
	}
	.row_article > .col-lg-7 > img {
		margin-bottom: 20px;
	}
	.row_article h2 {
		font-size: 20px;
	}
	.row_article > .col-lg-7 img {
		margin-bottom: 20px;
	}
	.row_article > .col-lg-7 td {
		padding: 15px;
	}
	.row_article > .col-lg-7 table {
		margin-bottom: 15px;
	}
	.sidebar-news h2 {
		padding-bottom: 20px;
	}
	.sidebar-news {
		padding: 30px 20px;
	}
	.sidebar-news__bottom {
		padding-top: 0;
	}
	.section-inner_article {
		padding-bottom: 40px;
	}
	.contacts_page .title-section {
		padding-bottom: 20px;
	}
	.descr-section {
		padding-top: 0;
	}
	.section-form {
		margin-bottom: 0;
		background-image: none;
		background: linear-gradient(263.19deg, #323232 15.72%, #3C3C3C 55.33%);
	}
	.section-form + .footer {
		margin-top: 0;
	}
	.title-billbord sup {
		font-size: 13px;
	}
	.unit {
    padding-top: 33px;
    padding-bottom: 55px;
}
.slider-photos {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 60px;
}
.slider-photos .slick-dots {
    bottom: 25px;
}
.documents {
	padding: 50px 0;
	padding-top: 35px;
}
.slider-documents {
	padding: 50px 20px;
	margin-top: 10px;
}
.slider-documents .slick-dots {
    bottom: 20px;
}
.callback-section .title-section {
    font-size: 27px;
    padding-bottom: 0;
}
.callback-section .row_form .btn-main {
	margin-top: 15px;
}
.title-middle {
    font-size: 20px;
    line-height: 26px;
    }
    .unit .title-middle {
    	padding-bottom: 15px;
    }
    .slider-photos__item {
    height: 300px;
}
.item-rent:nth-child(even) .slider-photos, .item-rent .slider-photos {
	padding-left: 30px;
	padding-right: 30px;
}
.item-rent .content-rent {
	margin-left: 15px;
	margin-right: 15px;
	width: initial;
	max-width: initial;
	padding-bottom: 30px;
}
.benefits_rent .title-section {
	padding-bottom: 15px;
}
.benefits_rent {
	background-image: none;
}
.item-project__content {
	min-height: initial;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header .logo img {
		width: 200px;
	}
	.header .logo-descr {
		max-width: 195px;
		font-size: 10px;
	}
	.title-billbord {
		font-size: 17px;
		line-height: 27px;
		margin-bottom: 20px;
	}

	.billbord {
		padding-bottom: 35px;
	}
	.title-section {
		font-size: 22px;
		line-height: 31px;
	}
	.item-service_1 {
		background-image: url(../img/serv1_1.png);
	}
	.row_services > div:nth-child(1) .item-service {
		padding-bottom: 160px;
		background-size: 100%;
		background-position: center bottom;
	}
	.row_benefits {
		margin-top: 0;
	}
	.item-settlement__buttons {
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 10px;
	}
	.item-settlement__buttons .link-simple {
		margin-top: 20px;
		display: inline-block;
	}
	.item-settlement__title {
		font-size: 19px;
		padding-bottom: 16px;
		line-height: 23px;
	}
	.item-benefit {
		font-size: 16px;
		line-height: 22px;
	}
	.section-form .title-section {
		font-size: 23px;
		padding-top: 30px;
	}
	.descr-big {
		font-size: 15px;
		line-height: 24px;
	}
	.section-form {
		padding-bottom: 40px;
	}
	.portfolio-for__item {
		height: 335px;
	}
	.portfolio-nav__item {
		height: 55px;
	}
	.portfolio-nav {
		margin-top: -55px;
	}
	.item-portfolio__head {
		display: block;
	}
	.item-portfolio__title {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.item-portfolio .btn-main_dowload {
		margin-bottom: 15px;
	}
	.item-portfolio__location {
		margin-bottom: 14px;
	}
	.item-portfolio__content {
		padding: 15px;
		padding-bottom: 30px;
	}
	.feature-portfolio__value {
		font-size: 46px;
		line-height: 44px;
	}
	body {
		font-size: 14px;
	}
	.feature-portfolio {
		font-size: 12px;
	}
	.item-portfolio__content p {
		margin-bottom: 12px;
	}
	.portfolio {
		padding-bottom: 30px;
	}
	.title-form {
		font-size: 16px;
		line-height: 25px;
	}
	.block-form {
		padding-left: 15px;
		padding-right: 15px;
	}
	.item-question__head {
		padding: 12px 0;
		font-size: 16px;
		line-height: 23px;
	}
	.item-question__content {
		padding-bottom: 15px;
	}
	.consultation .title-section {
		font-size: 21px;
	}
	.consultation {
		padding-bottom: 35px;
	}
	.contacts-block {
		margin: 0 -15px;
	}
	.footer__nav li:nth-child(3n),
	.footer__nav li {
		margin-bottom: 15px;
		width: 50%;
	}
	.footer__title {
		font-size: 18px;
		padding-bottom: 15px;
	}
	.footer__line {
		display: block;
	}
	.footer__line .social-contacts {
		margin-bottom: 15px;
	}
	.copy {
		margin: 15px 0;
		top: 0;
	}
	.create {
		justify-content: flex-start;
	}
	.item-map__image {
		display: none;
	}
	.item-map {
		padding-left: 0;
		padding-right: 0;
	}
	.btn_nav {
		margin-left: 20px;
	}
	.wrapper {
		padding-top: 86px;
	}
	.billbord__buttons .btn-main {
		font-size: 11px;
		padding: 0 10px;
	}
	.item-project__image {
		margin-left: 0;
	}
	.item-project__content {
		margin-right: 20px;
		padding: 25px 20px;
	}
	.item-project__name {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 15px;
	}
	.item-project__image {
		height: 280px;
	}
	.our-projects {
		padding-bottom: 25px;
	}
	.project-wrap .portfolio-nav__item {
		height: 50px; 
	}
	.project-wrap .portfolio-nav {
		margin-top: -50px;
	}
	.project-wrap .portfolio-features {
		align-items: flex-end;
	}
	.project-wrap .feature-portfolio__title {
		font-size: 10px;
		line-height: 15px;
		padding-bottom: 5px;
	}
	.descr-big {
		padding-top: 0;
	}
	.item-news__content {
		margin-right: 20px;
		padding: 25px 15px;
	}
	.item-news__title {
		font-size: 18px;
		line-height: 25px;
		margin: 0;
		margin-bottom: 15px;
	}
	.item-news__image {
		height: 300px;
		margin-left: 0;
	}
	.pager {
		font-size: 22px;
		line-height: 39px;
	}
	.page-numbers {
		margin: 0 7px;
	}
	.page-numbers.dots {
		margin: 0 10px;
	}
	.prev.page-numbers {
		margin-right: 15px;
	}
	.next.page-numbers {
		margin-left: 15px;
	}
	.row_article h2 {
		font-size: 18px;
		padding-bottom: 15px;
		line-height: 23px;
	}
	.row_article > .col-lg-7 p {
		margin-bottom: 15px;
	}
	.row_article .row {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.row_article > .col-lg-7 td {
		padding: 10px;
	}
	.row_article > .col-lg-7 {
		font-size: 14px;
	}
	.sidebar-news {
		padding: 20px 15px;
	}
	.sidebar-news .item-news__content {
		margin-left: 15px;
		padding-left: 20px;
		padding-right: 17px;
	}
	.sidebar-news .item-news__title {
		font-size: 16px;
		line-height: 20px;
	}
	.sidebar-news .item-news {
		margin-bottom: 32px;
	}
	.interior {
		padding-top: 40px;
		padding-bottom: 55px;
	}
	.title-middle {
    font-size: 18px;
    line-height: 26px;
}
.slider-photos {
	padding-left: 0;
	padding-right: 0;
}
.slider-photos__item {
    height: 265px;
}
.slick-dots li button {
	width: 10px;
	height: 10px;
}
.slick-dots li {
	width: 10px;
	height: 10px;
}
.slider-photos .slick-dots {
    bottom: 29px;
}
.slider-documents {
	padding-left: 0;
	padding-right: 0;
}
.callback-section .title-section {
    font-size: 24px;
    }
    .callback-section {
    	padding-bottom: 40px;
    }
    .item-rent:nth-child(even) .slider-photos, .item-rent .slider-photos {
    	padding-left: 0;
    	padding-right: 0;
    }
    .item-rent .content-rent {
    	padding-left: 15px; 
    	padding-right: 15px;
    	padding-top: 15px;
    } 
    .content-rent .btn-main {
    height: 55px;
    min-width: 140px;
}
.price-main {
    font-size: 25px;
    line-height: 39px;
}
.rent {
	padding: 40px 0;
}
.item-rent {
	padding-bottom: 30px;
}
.portofolio-page .title-section {
	padding-bottom: 20px;
}
}
@media only screen and (max-width : 360px) {
	.header .logo img {
		width: 160px;
	}
	.header .logo-descr {
		max-width: 159px;
		font-size: 9px;
		line-height: 12px;
	}
	.wrapper {
		padding-top: 79px;
	}
	.billbord__buttons {
		display: block;
		text-align: center;
		padding-top: 0;
	}
	.billbord__buttons .btn-main {
		width: 100%;
		max-width: 270px;
		margin: 0 auto; 
		margin-top: 20px;
		font-size: 12px;
		padding: 0px 27px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#map-portfolio .ymaps-2-1-79-balloon__content > ymaps {
		padding: 0 !important;
		height: initial !important;
		overflow: visible !important;
		width: 525px !important;
	}
	#map-portfolio .ymaps-2-1-79-balloon__tail {
		left: 188px !important;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
@media only screen and (min-width : 1200px) {

}
@media only screen and (min-width : 1375px) {
	.container {
		max-width: 1375px;
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 1375px;
	}
}